.email-p-sec .info-sect .underline, .about .about-desc .underline, .email-p-sec .about-desc .underline, .the-work .work-header .underline {
  width: 20px;
  height: 3px;
  background-color: rgb(24, 24, 25);
  margin: 0 auto;
  margin-bottom: 1rem;
}

.about::before, .email-p-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../style/recourses/images/dark-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.p-wrapper {
  width: 100vw;
  height: 100vh;
  perspective: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  height: 100vh;
  background-image: url("../style/recourses/images/city-scape.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  z-index: 1;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  top: 0;
  width: 100%;
  background-color: rgb(24, 24, 25);
  position: fixed;
  z-index: 5;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-left: auto;
}
header nav ul li {
  list-style: none;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #FDF6F0;
  text-transform: uppercase;
  transition: color 300ms ease-in-out;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
}
header nav ul li a:hover {
  color: #784010;
}
header nav ul li.active {
  border: 1.5px solid #784010;
}
header nav ul li:active {
  border: 1.5px solid #FDF6F0;
}
header nav .login {
  width: 5%;
  margin: auto;
}
header nav .login a {
  text-decoration: none;
  color: #FDF6F0;
  text-transform: capitalize;
  transition: color 300ms ease-in-out;
  cursor: pointer;
}
header nav .login a:hover {
  color: #784010;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  text-transform: uppercase;
  z-index: 2;
}
.overlay h1,
.overlay p {
  color: #FDF6F0;
  text-shadow: 2px 2px 2px rgb(24, 24, 25);
  border-radius: 10px;
  background-color: rgba(24, 24, 25, 0.5);
}
.overlay h1 {
  font-size: 4rem;
}
.overlay p {
  font-size: 1.6rem;
}
.overlay .social-media {
  justify-self: end;
  padding: 2rem;
}
.overlay .social-media img {
  margin: 0 1rem;
  cursor: pointer;
}

.services {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  color: #FDF6F0;
  transform-style: preserve-3d;
}
.services::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../style/recourses/images/dark-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  transform: translateZ(-5px) scale(1.5);
}
.services .services-overlay {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.services .services-overlay h1 {
  text-transform: uppercase;
  margin-top: auto;
  font-size: 2rem;
}
.services .services-overlay .service-desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 50%;
  margin: auto;
}
.services .services-overlay .service-desc .sect {
  height: 100%;
  flex: 1 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.services .services-overlay .service-desc .sect h4 {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.services .services-overlay .service-desc .sect p {
  text-transform: capitalize;
  font-weight: 700;
}
.services .services-overlay .service-desc .circle {
  width: 130px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border: 3px solid #FDF6F0;
  border-radius: 50%;
}

.the-work {
  position: relative;
  z-index: 1;
  background-color: #FDF6F0;
  padding: 0 2.3% 6.4%;
}
.the-work .work-header {
  min-height: 30vh;
  display: grid;
  place-content: center center;
  text-align: center;
}
.the-work .work-header h1 {
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: 500;
}
.the-work .work-header > p {
  font-size: 1.2rem;
}
.the-work .img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.the-work .img-container .img-1 {
  background-image: url("/style/recourses/images/brn-bg.jpg");
}
.the-work .img-container .img-2 {
  background-image: url("/style/recourses/images/city-scape.jpg");
}
.the-work .img-container .img-3 {
  background-image: url("/style/recourses/images/dark-bg.jpg");
}
.the-work .img-container .img-4 {
  background-image: url("/style/recourses/images/dark-leaves.jpg");
}
.the-work .img-container .img-5 {
  background-image: url("/style/recourses/images/dark-railroad.jpg");
}
.the-work .img-container .img-6 {
  background-image: url("/style/recourses/images/brn-bg.jpg");
}
.the-work .img-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1 max(30%, 250px);
  aspect-ratio: 16/12;
}
.the-work .img-wrap .img-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10%;
  gap: 1rem;
  color: #FDF6F0;
  background-color: rgb(24, 24, 25);
  mix-blend-mode: screen;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}
.the-work .img-wrap .img-overlay:hover {
  opacity: 1;
}
.the-work .img-wrap .img-overlay h4 {
  font-size: 1.4rem;
  font-weight: 500;
}
.the-work .img-wrap .img-overlay p {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.about, .email-p-sec {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about .about-desc, .email-p-sec .about-desc {
  flex-basis: max(55%, 400px);
  height: 60%;
  background-color: #FDF6F0;
  color: rgb(24, 24, 25);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 10%;
}
.about .about-desc h1, .email-p-sec .about-desc h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.1rem;
}
.about .about-desc p, .email-p-sec .about-desc p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.mid-p-sec {
  height: 80vh;
  background-image: url("../style/recourses/images/city-scape.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.email-p-sec .info-sect {
  background-color: #FDF6F0;
  color: rgb(24, 24, 25);
  height: 85%;
  width: 50%;
  padding: 2%;
}
.email-p-sec .info-sect h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2.1rem;
}
.email-p-sec .info-sect .underline {
  margin-bottom: 1.5rem;
}
.email-p-sec .info-sect .info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  gap: 0.4rem;
}
.email-p-sec .info-sect .info .contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
  height: 100%;
}
.email-p-sec .info-sect .info form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 45%;
}
.email-p-sec .info-sect .info form label {
  font-size: 1.1rem;
  font-weight: 400;
}
.email-p-sec .info-sect .info form textarea {
  padding: 0.8rem;
}
.email-p-sec .info-sect .info form input {
  height: 1.7rem;
  width: 95%;
  cursor: pointer;
}
.email-p-sec .info-sect .info form input[type=submit] {
  text-transform: capitalize;
}

footer {
  height: 25vh;
  background-color: rgb(24, 24, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social-media img {
  margin: 0 1rem 1rem;
  cursor: pointer;
}
footer p {
  color: #FDF6F0;
}/*# sourceMappingURL=vcar.css.map */