$bg-clr: rgb(24, 24, 25);
$primary-clr: #FDF6F0;
$font: 'Lato', sans-serif;
$header-fnt-sz: 2.1rem;
$header-fnt-wght: 500;
$font-wght: 700;
$main-fnt-sz: 1.2rem;
$font-lt-wght: 400;
$trans-duration: 300ms;


// --------mixins----------


@mixin flex($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin bg-img-center($background-size: cover, $background-position: center) {
    background-size: $background-size;
    background-position: $background-position;
    background-repeat: no-repeat;
}

%line {
    width: 20px;
    height: 3px;
    background-color: $bg-clr;
    margin: 0 auto;
    margin-bottom: 1rem;
}

%before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../style/recourses/images/dark-bg.jpg");
    @include bg-img-center;
    z-index: -1;
    background-attachment: fixed;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: {
        family: $font;
        size: 16px;
    }
}


// -----------landing pg-----------


.p-wrapper {
    width: 100vw;
    height: 100vh;
    perspective: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}


header {
    height: 100vh;
    background-image: url("../style/recourses/images/city-scape.jpg");
    @include bg-img-center;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    

    nav {
        @include flex;
        height: 10vh;
        top: 0;
        width: 100%;
        background-color: $bg-clr;
        position: fixed;
        z-index: 5;

        ul {
            @include flex(space-around);
            width: 70%;
            margin-left: auto;

            li {
                list-style: none;
                padding: .1rem .5rem;
                border-radius: 10px;

                a {
                    text-decoration: none;
                    color: $primary-clr;
                    text-transform: uppercase;
                    transition: color $trans-duration ease-in-out;
                    cursor: pointer;
                    
                    font: {
                        weight: $font-lt-wght;
                        size: .9rem;
                }
                &:hover {
                    color: darken($primary-clr, 70%);
                }
              
            }
            &.active {
                border: 1.5px solid darken($primary-clr, 70%);
            }
            &:active {
                border: 1.5px solid $primary-clr;
            }
        }
    }
        .login {
            width: 5%;
            margin: auto;

            a {
                text-decoration: none;
                color: $primary-clr;
                text-transform: capitalize;
                transition: color $trans-duration ease-in-out;
                cursor: pointer;

                &:hover {
                    color: darken($primary-clr, 70%);
                }
            }
        }
    }
}
.overlay {
    position: absolute;
    inset: 0;
    @include flex;
    flex-direction: column;
    pointer-events: none;
    text-transform: uppercase;
    z-index: 2;

    h1,
    p {
        color: $primary-clr;
        text-shadow: 2px 2px 2px $bg-clr;
        border-radius: 10px;
        background-color: rgba(24, 24, 25, .5);
    }
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 1.6rem;
    }
    .social-media {
        justify-self: end;
        padding: 2rem;
    }
}




// -------------services section-----------



.services {
    min-height: 100vh;
    width: 100%;
    position: relative;
    @include flex;
    align-items: stretch;
    color: $primary-clr;
    // overflow-y: hidden;
    transform-style: preserve-3d;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../style/recourses/images/dark-bg.jpg");
        @include bg-img-center;
        z-index: -2;
        transform: translateZ(-5px) scale(1.5);
    }

    .services-overlay {
        width: 100%;
        min-height: 100%;
        @include flex(space-around);
        flex-direction: column;

        h1 {
            // padding-top: 10%;
            text-transform: uppercase;
            margin-top: auto;
            font-size: 2rem;
        }

    .service-desc {
        @include flex(space-around);
        width: 80%;
        height: 50%;
        margin: auto;

        .sect {
            height: 100%;
            flex: 1 100%;
            text-align: center;
            @include flex(space-evenly);
            flex-direction: column;

            h4 {
                text-transform: uppercase;
                font-size: 1.3rem;
            }
            p {
                text-transform: capitalize;
                font-weight: 700;
            }
        }

        .circle {
            width: 130px;
            aspect-ratio: 1/1;
            margin: 0 auto;
            border: 3px solid $primary-clr;
            border-radius: 50%;
        }
        }
    }
}


// ---------the work-------------


.the-work {
    position: relative;
    z-index: 1;
    background-color: $primary-clr;
    padding: 0 2.3% 6.4%;

    .work-header {
        min-height: 30vh;
        display: grid;
        place-content: center center;
        text-align: center;

        h1 {
            text-transform: uppercase;
            padding-bottom: 1rem;

            font: {
                size: $header-fnt-sz;
                weight: $header-fnt-wght;
            }
        }
        .underline {
            @extend %line
        }
        > p {
            font-size: $main-fnt-sz;
        }
    }
    .img-container {
        @include flex(space-around);
        flex-wrap: wrap;

        .img-1 {
            background-image: url("/style/recourses/images/brn-bg.jpg");
        }
        .img-2 {
            background-image: url("/style/recourses/images/city-scape.jpg");
        }
        .img-3 {
            background-image: url("/style/recourses/images/dark-bg.jpg");
        }
        .img-4 {
            background-image: url("/style/recourses/images/dark-leaves.jpg");
        }
        .img-5 {
            background-image: url("/style/recourses/images/dark-railroad.jpg");
        }
        .img-6 {
            background-image: url("/style/recourses/images/brn-bg.jpg");
        }
    }
    .img-wrap {
        @include bg-img-center;
        flex: 1 max(30%, 250px);
        aspect-ratio: 16/12;

        .img-overlay {
            width: 100%;
            height: 100%;
            @include flex;
            flex-direction: column;
            text-align: center;
            padding: 10%;
            gap: 1rem;
            color: $primary-clr;
            background-color: $bg-clr;
            mix-blend-mode: screen;
            opacity: 0;
            transition: opacity $trans-duration ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            h4 {
                font: {
                    size: 1.4rem;
                    weight: 500;
                }
            }
            p {
                line-height: 1.5rem;
                font-size: $main-fnt-sz;
            }
        }
    }
}


// ------------abut sect------------


.about {
    height: 100vh;
    @include flex;
    position: relative;

    &::before {
        @extend %before;
        // content: "";
        // position: absolute;
        // inset: 0;
        // background-image: url("../style/recourses/images/dark-bg.jpg");
        // @include bg-img-center;
        // z-index: -1;
        // background-attachment: fixed;
    }

    .about-desc {
        flex-basis: max(55%, 400px);
        height: 60%;
        background-color: $primary-clr;
        color: $bg-clr;
        text-align: center;
        @include flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 10%;

        h1 {
            text-transform: uppercase;

            font: {
                weight: $header-fnt-wght;
                size: $header-fnt-sz;
            }
        }
        .underline {
            @extend %line;
        }
        p {
            font-size: $main-fnt-sz;
            line-height: 1.5rem;
        }
    }
}

// ------------mid parallax-----------

.mid-p-sec {
    height: 80vh;
    background-image: url("../style/recourses/images/city-scape.jpg");
    @include bg-img-center;
    background-attachment: fixed;
}



// -----------registration sect-----------


.email-p-sec {
    @extend .about;

    .info-sect {
        background-color: $primary-clr;
        color: $bg-clr;
        min-height: 75vh;
        padding: 2% 5%;

        h1 {
            text-transform: uppercase;
            text-align: center;

            font: {
                weight: $header-fnt-wght;
                size: $header-fnt-sz;
            }
        }
        .underline {
            @extend %line;
        }
        .info {
            @include flex(space-around);
            height: 80%;
            background-color: burlywood;

            .contact {
                height: 100%;
                background-color: chartreuse;
            }
            form {
                @include flex(space-around);
                flex-direction: column;
                height: 100%;
                background-color: cornflowerblue;
            }
        }
    }
}

// ------------footer--------------


footer {
    height: 25vh;
    background-color: $bg-clr;
    @include flex;
    flex-direction: column;

    p {
        color: $primary-clr;
    }
}


